---
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import p1 from "../../assets/team/t1.png";
import p2 from "../../assets/team/t2.png";
import p3 from "../../assets/team/t3.png";
const cards = [
  {
    index: 0,
    title:
    "Partnering with Zindi Muse Media transformed our brand visibility. Their strategies helped us triple our online engagement in just 3 months.",
    author: "Mr. Akhil Gupta",
    desgination:"CED & Designer, Bonsoir",
    bg:p1
  },
  {
    index: 1,
    title:
      "We are happy that we are on the cutting edge with our new website and have synergised our entire web experience Gocial media handles. Amazon store etc with the website.",
      author: "Mr. Amar Wadhwa",
    desgination:"Marketing Consultant at Halonix",
    bg:p1
  },
  {
    index: 1,
    title:
      "For a national retail chain, we created a social media marketing campaign that increased followers by 25% and generated a 20% increase in online sales.",
      author: "Mr. Vijay Carg",
    desgination:"Managing Director, Karara Ceramics",
    bg:p1
  },
];


import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="cases">
  <SectionTitle
    sectionTitle="Case Studies"
    description="Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies"
  />
  <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1">
    {
      cards.map((card) => (
        <Card>
          <div class="flex p-[60px] h-full bg-dark text-gray w-full max-w-[400px] rounded-[45px] m-[1px]"
           style="background-image: url('../../assets/bg1.jpeg');"
          >
            <div class="flex flex-col gap-5">
              <p>{card.title}</p>
            <div>
              <span class="text-green">{card.author}</span>
                <span class="text-green">{card.desgination}</span>

            </div>
           
            </div>
          </div>
        </Card>
      ))
    }
  </div>
</Section>
