---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/pics/cart.jpg";
---

<Section>
  <Card>
    <div
      class="flex bg-[#F3F3F3] rounded-[45px] p-[60px] relative mt-[123px] mb-[163px]"
    >
      <div class="w-full md:w-[40%] flex flex-col gap-[26px]">
        <h2 class="text-3xl font-medium">Let's make things happen</h2>
        <p>We help global brands bloom with influencer marketing, performance ads & cultural storytelling.<br>
          Ready to Make Your Brand the Next Big Thing in India?

        </p>
        <p> </p>
        <a href="/#contact"><button class="btn-primary">Book Free Consultation</button></a>
        
      </div>
      <picture
        class="hidden md:flex absolute right-[-10%] lg:right-0 top-[-15%] h-[500px] items-center justify-center"
      >
        <Image
          src={propImg}
          alt="This is an illustration"
          class="rounded-3xl hidden md:flex lg:h- lg:w-auto"
        />
      </picture>
    </div>
  </Card>
</Section>
